body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 12px;
    background-color: black;
    border: 6px goldenrod solid;
    border-radius: 10px;
}
.flex-container{
    display:flex;
    flex-wrap: wrap;
    max-height: 450px;
    max-width: 350px;
    gap: 8px;
}

.calc-container{
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid grey;
    font-size: 24px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    background-color: gray;
}

.calculation{
    height: auto;
    width: auto;
    font-size: 24px;
    margin: 0;
}

.calc-display{
    width: auto;
    font-size: 34px;
    margin: 0
}

button{
    flex: 1 0 25%;
    height: 65px;
    background-color: black;
    font-size: 24px;
    color: white;
    border: 2px solid goldenrod;
    border-radius: 5px
}

.flex{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    height: 36px;
}